<header class="sheet-header flexrow">
  <img class="profile-img" src="{{actor.img}}" alt="{{actor.name}}" {{#if editable}} data-action="editImage"
    data-edit="img" {{/if}} data-tooltip="{{actor.name}}" height="100" width="100">
  <table class="info-table">
    <tr>
      <td>Name:</td>
      <td>{{formInput actorFields.name value=actor.name}}</td>
      <td>Level:</td>
      <td>{{formInput actorFields.level value=actor.level}}</td>
    </tr>
    <tr>
      <td>Saga:</td>
      <td>{{formInput actorFields.saga value=actor.saga}}</td>
      <td>XP:</td>
      <td>{{formInput actorFields.xp value=actor.xp}}</td>
    </tr>
  </table>
</header>